* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  color: #222222;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid #0C84E8;
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "open sans", sans-serif;
  font-weight: 600;
}

h1.title {
  font-weight: 800;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: #0C84E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0C84E8;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts span {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size:14px;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}
    

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.book-writeup p img 
{
  padding: 5px;
  border: 1px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.pic img 
{
  padding: 5px;
  border: 1px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  margin-bottom: 15px;
}

.project-date {
  color: #aaa !important;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  font-weight: normal;
}

.sidebar {
  padding-top: 25px;
  font-family: "open sans", sans-serif;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

.content {
  font: 400 16px/22px "open sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.gist {
  font-size: 12px !important;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.aside {
  font-size: 75%;
  color: #666;
}

#blog-posts a, #talk-posts a, #book-posts a {
  color: #333;
}

#blog-posts a:visited, #talk-posts a:visited, #book-posts a:visited {
  color: #AAA;
}

#home h2 {
  color: #0C84E8;
}

#stalker i {
  font-size: 24px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: #0C84E8;
}

.icon-hn {
  background-color: #0C84E8;
  font-weight: bold;
  color: white;
  font-size: 20px;
  height: 24px;
  width: 24px;
  text-align: center;
  position: relative;
  bottom: 5px;
  margin-right: 5px;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes { 
  font-size: 14px;
  font-style: italic;
}
