* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 16px Palatino, 'Palatino Linotype', Georgia, serif;
  color: #222222;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: #0C84E8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #446178;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts span {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size:14px;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}
    

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.book-writeup p img 
{
  margin: 0 !important;
}

.project-date {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  font-weight: normal;
}

#sidebar {
  width: 200px;
  margin: 10px 0;
  float: left;
  font-size: 16px;
}

.container {
  margin-top: 10px;
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.gist {
  font-size: 12px !important;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.aside {
  font-size: 75%;
  color: #666;
}
