---
layout: default
title: blog posts, talks, book writeups, projects
---

<div id="home">
  <h2>Blog Posts</h2>
  <ul class="posts">
    {% for post in site.categories.blog %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Talks</h2>
  <ul class="posts">
    {% for post in site.categories.talk %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Book Writeups</h2>
  <ul class="posts">
    {% for post in site.categories.writeup %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h2>Projects</h2>
  <p>Random side-projects, in various states of completion</p>
  <h2 class="project-date">2011 &raquo;</h2>
  <ul class="posts">
    <li><a href="http://sep.com">dasher:</a> Company status dashboard, built with Node</li>
    <li><a href="https://github.com/swanson/lanyon">lanyon:</a> WYSIWYG editor for Jeykll powered blogs, hooked directly into the Github API</li>
    <li><a href="https://github.com/swanson/cloutbout">CloutBout:</a> Fantasy sports for Twitter, built in under 36 hours for SDC Chicago 2011 Hackathon</li>
    <li><a href="http://sep.com">WhooWho!:</a> Lean CRM with recommendations, built at SEP Startup Weekend Summer 2011</li>
    <li><a href="http://bibliotechnical.com">bibliotechnical:</a> Programming book recommendation site</li>
    <li><a href="http://github.com/swanson/LandingPad.rb">LandingPad.rb:</a> Landing page app, deployed on Heroku using Sinatra + MongoDB</li>
</ul>

  <h2 class="project-date">2010 &raquo;</h2>
  <ul class="posts">
    <li><a href="http://github.com/swanson/glorified-screensaver">Glorified Screensaver:</a> Real-time announcement board built with Node.js, socket.io, and three.js.</li>
    <li><a href="http://github.com/swanson/stacktracker">StackTracker:</a> Cross-platform desktop notifier for the StackExchange API.</li>
    <li><a href="http://github.com/swanson/duel-of-tweets">Duel of Tweets:</a> Head-to-head polls conducted over Twitter, built in under 36 hours for SDC Chicago 2010 Hackathon.</li>
    <li><a href="http://github.com/swanson/flask-embedly">flask-embedly:</a> Flask extension that adds Embedly support to templating.</li>
    <li><a href="http://github.com/swanson/autocastr">autocastr:</a> Automatically download and partition podcasts into CD-R sized folders.</li>
    <li><a href="http://github.com/swanson/mongo-overflow">Mongo Overflow:</a> Small StackOverflow clone with a mongoDB backend.</li>
    <li><a href="http://github.com/swanson/bumps">Bumps:</a> OBD-II iPhone logging application and server, used for pothole detection research.</li>
</ul>
</div>
