<strike>Stalk</strike> Follow me:
<div id="stalker">
  <a title="swanson on Github" href="http://github.com/swanson/"><i class="icon-github-sign"></i></a>
  <a title="swanson on Hacker News" href="http://news.ycombinator.com/user?id=swanson">
    <i class="icon-sign-blank"></i>
    <span class="icon-overlay icon-hn">Y</span>
  </a>
  <a title="_swanson on Twitter" href="http://twitter.com/_swanson"><i class="icon-twitter-sign"></i></a>
  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="icon-sign-blank"></i>
    <i class="icon-rss icon-overlay"></i>
  </a>
</div>