<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="google-site-verification" content="VikwqTxe7ybu1qSM7LFgIQpvHLN0_j-iVzaLqF88vEw" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Matt Swanson" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Matt Swanson</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}
  
  <div class="footer">
  <div class="contact">
      <p>
        I'm Matt Swanson<br />
        Software Engineer in Carmel, IN<br />
        I ship code at <a href="http://www.sep.com/">SEP</a><br />
      </p>
    </div>
    <div class="contact" style="float:right; text-align:right;">
      <p>
        <a href="http://github.com/swanson/">github</a><br />
        <a href="http://news.ycombinator.com/user?id=swanson">hacker news</a><br />
        <a href="http://stackoverflow.com/users/184609/swanson">stack overflow</a><br />
      </p>
    </div>
    <br />
    <div class="disclaimer">
        <p>The postings on this site are my own and don't necessarily represent my 
        employer’s positions, strategies or opinions.</p>
    </div>
  </div>
</div>

<a href="http://github.com/swanson"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13005539-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
