---
layout: default
---

{% include header.html %}

<article>
  <h1 class="title">
    {% if page.categories contains "writeup" %}
      "{{ page.title }}" Book Writeup
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>

  {% assign tag_count = page.tags | size %}
  <p class="subtitle">
    {% if page.subtitle %}
      <span>{{ page.subtitle }}</span>
    {% elsif page.categories contains "writeup" or tag_count == 0 %}
      <span>{{ page.date | date: "%B %d, %Y" }}</span>
    {% else %}
      <span>
        {% if tag_count > 0 %}
          {% assign sn = page.tags | join: ""  %}
          Series: <a href="/#{{ sn }}">{{ sn | replace: "_", " " }}</a>
        {% else %}
          &nbsp;
        {% endif %}
      </span>

      <span class="date">
        {{ page.date | date: "%B %d, %Y" }}
      </span>
    {% endif %}
  </p>

  {% if page.categories contains "writeup" %}
    <div id="writeup">{{ content }}</div>
  {% else %}
    <div id="post">{{ content }}</div>
  {% endif %}
      

  {% unless page.skip_footer %}
    <hr class="fin"/>
  {% endunless %}
</article>

{% unless page.skip_footer %}
  {% include footer.html %}
{% endunless %}