---
layout: default
---

<p class="meta"> {{ page.date | date: "%B %d, %Y" }}
<a href="/"><i class="home fa fa-home"></i></a>
</p>
<h1>&ldquo;{{ page.title }}&rdquo; Book Writeup</h1>


<div id="post" class="book-writeup">
{{ content }}
</div>

<div id="related">
  <h2>More Writeups</h2>
  <ul class="posts">
    {% for post in site.categories.writeup limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="disclaimer">
  <p style="text-align: left; color: #666;">Disclaimer: Matt Swanson is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com</p>
</div>
